/* Estilos generales */
body {
    background-image: url('../assets/img/view-illuminated-neon-gaming-keyboard-setup-controller.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.caja {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque para el fondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 100%;
    max-width: 350px; /* Ancho máximo de cada caja */
    box-sizing: border-box;
    color: #333;
    margin-right: 20px; /* Espacio entre las cajas */
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 3px;
}

input[type="text"],
select,
button[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:hover,
select:hover,
button[type="submit"]:hover {
    border-color: #9b59b6;
    box-shadow: 0 0 8px rgba(155, 89, 182, 0.4);
}

input[type="text"]:focus,
select:focus,
button[type="submit"]:focus {
    outline: none;
    border-color: #8e44ad;
    box-shadow: 0 0 8px rgba(142, 68, 173, 0.6);
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.message {
    margin-top: 15px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.small-link {
    font-size: 12px;
    color: #333;
    margin-top: 3px;
    display: block;
    text-align: center;
    transition: color 0.3s ease;
}

.small-link:hover {
    color: #666;
}
